@charset "UTF-8"

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
/* 
    Para que possamos prosseguir!
*/
@font-face {
    font-family: 'Typewrite';
    src: url(fonts/JMH Typewriter-Black.ttf) format(t);
    
}

@font-face {
    font-family: 'Gothic War Regular';
    src: url('Gothic War.otf') format(opentype) format(truetype) url('Gothic War.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to right, rgb(212, 118, 118),  #de9595, #f4dcdc);
}

h1 {
    color: rgb(77, 28, 28);
}

h1#principal {
    font-size: 2em;
    text-align: center;
}

h2 {
    color: rgb(128, 56, 56);
    
}